@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.color-count-border {
    -webkit-text-stroke: 2px black
} */

.jp-title-border {
  -webkit-text-stroke: 3px black;
}

.jp-title {
  text-shadow: 3px 3px 7px rgb(0, 0, 0);
  -webkit-text-stroke: 1px #ff8400;
}

.text-gradient-grand-jackpot {
  background: -webkit-linear-gradient(#ffffff, #ddff00, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: black;
}

.text-gradient-title-grand-jackpot {
  background: -webkit-linear-gradient(#000000, #ddff00, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-title-major-jackpot {
  background: -webkit-linear-gradient(#000000, #d3d3d3, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.text-gradient-title-minor-jackpot {
  background: -webkit-linear-gradient(#000000, #cd7f32, rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #ff8400;
}

.text-gradient-color-picked {
  background: -webkit-linear-gradient(#000000, #2e2e2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
